@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
}
html{
    font-family: "Poppins";
    font-size: 12px;
}
.container h1{
  margin: 15rem auto;
}
.container img{
  margin: 150px;
}
.matter h1{
  color:blue;
  text-align: center;
 
}
main{
  margin:7rem 1.5rem 2.5rem 2.5rem;
}
header{
    width: 100%;
    padding: 1.5rem 2rem;
    position: fixed;
    top: 0;
    background-color:black;
}

.nav-items{
    display: flex;
    /* list-style: none; */
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.nav-items a{
    text-decoration: none;
    font-family: "Poppins";
    font-weight: 500;
    font-size: 1.2rem;
    color:white;
}
.nav-items a:hover{
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
.nav-items a:active {
  color: yellow;
  text-decoration: underline;
}

.container{
    text-align: center;
}
.img-container{
  width: 80%;
  display: block;
  margin: 0 auto;
}
#intro-heading{
font-size: 2rem;
font-weight:700;
color:black
}
.img-container >img{
  width: 500px;
  display: block;
  margin: 0 auto;
  float: left;
}
p{
  font-size: 1.3rem;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color:blue;
}

#res{
  color: red;
  text-align: center;
}
.m h3{
  font-size: 20px;
  color:blue;
  text-align: center;
}
/*form*/

.contact-form{
  width: 500px;
  display:inline;
  margin: 0 auto;
  align-content: center;
}
label{
  font-size:20px;
  margin-bottom: 2.5rem;
}
input,textarea{
  font-family: Poppins;
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 1.9rem;
  background: #f7f7f7;
  display: block;
  border-radius: 5px;
  width: 700px;
  height: 50px;
  padding: 7px 5px;
  border: 0;
}
input[type="submit"]{
  width:150px;
  background: #4b0082;
  color: #ffffff;
  margin:0px 0px 0px 250px;
}

input[type="submit"]:hover{
  background: #ffffff;
  color: black;
  border: 1px solid black;
}

.symbols { 
    margin:0px 0px 0px 850px;
}
#con{
  text-align: center;
   align-content: center;
}
.image >img{ 
  width: 300px;
  height: 100px;
}
.images{
  flex-direction:column;
   margin:40px;
  display:grid;
  /* justify-content: space-between; */
}
.photo1{
  grid-row-start:1 ;
  grid-row-end: 2;
  grid-column-start:1 ;
  grid-column-end: 2;
}
.photo2{
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2 ;
  grid-column-end: 3;
}
.photo3{
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1 ;
  grid-column-end: 2;
}
.photo4{
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}
.photo5{
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 3;
  grid-column-end: 4;
}
.photo6{
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 4;
}
@media screen and (max-width: 300px) {
  .images {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 30vw);
    gap:1.5rem;
  }
  
  .photo1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end:2 ;
  }
  
  .photo2 {
    grid-column-start:2 ;
    grid-column-end:3 ;
    grid-row-start:1 ;
    grid-row-end:2 ;
  }
  
  .photo3 {
    grid-column-start:1 ;
    grid-column-end:3;
    grid-row-start:2 ;
    grid-row-end:3 ;
  }
  
  .photo4{
    grid-column-start:1 ;
    grid-column-end:2 ;
    grid-row-start: 3;
    grid-row-end:4 ;
  }
  
  .photo5{
    grid-column-start:2 ;
    grid-column-end:3 ;
    grid-row-start:3 ;
    grid-row-end:5 ;
  

  }
  
  .photo6{
    grid-column-start:1 ;
    grid-column-end:2 ;
    grid-row-start:4 ;
    grid-row-end: 5;
  }
}

  